<!DOCTYPE html>
<html ng-app="Blog-App" lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mangoes are Blue</title>
<base href="/">

<!-- CSS -->
<!-- <link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
 -->
 <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/form-elements.css">
<link rel="stylesheet" href="assets/css/mystyle.css">
<link rel="stylesheet" href="assets/bootstrap/dist/bootstrap-tagsinput.css">
<!-- <link rel="stylesheet" href="assets/css/search-form.css"> -->
<!-- Javascript -->
<!-- <script src="assets/js/jquery-1.11.1.min.js"></script> -->
<script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="assets/js/angular.js"></script>
<script type="text/javascript" src='assets/js/angular-resource.js'></script>
<script type="text/javascript" src='assets/js/angular-websocket.min.js'></script>
<script type="text/javascript" src="assets/js/routes.js"></script>
<script type="text/javascript" src="assets/js/home.js"></script>
<script type="text/javascript" src="assets/js/UserController.js"></script>
<script type="text/javascript" src="assets/js/PostController.js"></script>
<script type="text/javascript" src="assets/js/SearchController.js"></script>
<script type="text/javascript" src="assets/js/BlogController.js"></script>
<script type="text/javascript" src="assets/js/ListController.js"></script>
<script type="text/javascript" src="assets/js/chatController.js"></script>
<!-- <script type="text/javascript" src="assets/js/switch3.js"></script> -->
<script type="text/javascript" src="assets/js/core-min.js"></script>
<script type="text/javascript" src="assets/js/sha256-min.js"></script>
<script src="assets/bootstrap/dist/bootstrap-tagsinput.min.js"></script>

</head>

<body>

	<!-- Content -->
	<div class="top-content">
		
		<div ng-controller="HomeController">
			<div id="header">
			<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<a href="" id="s-latest" ng-click="load_if_loggedin()"> <img
							class="navbar-brand" href="#section1" src="assets/img/earth.png"></img>
						</a>
					</div>
					<div class="navbar-collapse collapse" id="navbar-collapsible">
						<ul class="nav navbar-nav navbar-left">
							<li><a id="s-invite" href="#" data-toggle="modal"
								data-target="#invitemodal"><span
									class="glyphicon glyphicon-envelope"></span>&nbsp; Invite</a></li>
							<li><a id="s-contact" href="#" data-toggle="modal"
								data-target="#contactmodal"><span
									class="glyphicon glyphicon-phone-alt"></span>&nbsp; Contact</a></li>
							<li><a id="s-new" href="#/blog/new" ng-show="logstat =='loggedin'"><span
									class="glyphicon glyphicon-pencil"></span>&nbsp; New Blog</a></li>
							<li>&nbsp;</li>
						</ul>
						<ul class="nav navbar-nav navbar-right" ng-init="show='loggedout'">
							<li class="dropdown" ng-show="logstat =='loggedout'"><a class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false" id="loggedout"><i
									class="fa fa-user-times fa-lg"></i> <span class="caret"></span></a>
								<ul class="dropdown-menu" id="inactive-profile-drop">
									<li id="in-out"><a href="#" ng-click="load_if_loggedin()">
										<span class="glyphicon glyphicon-user"></span>&nbsp; &nbsp; Login/Register</a></li>
								</ul>
							</li>
							<li class="dropdown"  ng-show="logstat =='loggedin'"><a class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true" 
								aria-expanded="false" id="loginstat">
								<i class="fa fa-user fa-lg"></i> &nbsp;a@b.ccc<span class="caret"></span></a>
								<ul class="dropdown-menu" id="active-profile-drop">
									<li><a id="s-new" href="#/user/update"><span class="glyphicon glyphicon-pencil"></span> Update User</a></li>
									<li><a id="s-list" href="#/blog/list">Recent Blogs</a></li>
									<li id="in-out"><a ng-click="profile_logout()"><span class="glyphicon glyphicon-log-out"></span>&nbsp; &nbsp; Logout</a></li>
								</ul>
							</li>
						</ul>
						<div class="col-sm-3 col-md-3 pull-right" ng-controller="SearchController">
							<form class="navbar-form" role="search">
								<div class="input-group">
									<input type="text" ng-model="searchText" 
										class="form-control gjform-control trans-input trans-search"
										placeholder="Search Blogs" name="q">
									<div class="input-group-btn">
										<button class="btn btn-default btn-trans"
											ng-click="search_blogs()">
											<!-- <button class="btn btn-default btn-trans" type="submit"> -->
											<i class="glyphicon glyphicon-search"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</nav>
			</div>

			<div ng-view>
			</div>
		<!-- 	<footer id="footer">
			
			</footer> -->
		</div>
		<div class="scroll-up">
			<a href="#"><i class="fa fa-angle-up"></i></a>
		</div>
	</div>
		
		<div id="invitemodal" class="modal fade" tabindex="-1" role="dialog"
			aria-labelledby="inviteModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×</button>
						<h2 class="text-center">
							<img src="assets/img/earth.png" class="img-circle img-modal"><br>Invite
						</h2>
					</div>
					<div class="modal-body row">
						<form class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
							<div class="form-group">
								<input id="uname" type="email" class="form-control input-lg"
									placeholder="friend@example.com">
							</div>
	
							<div class="form-group">
								<button id="invitebtn" onclick="invite()"
									class="btn btn-danger btn-lg btn-block">
									<i class="fa fa-send-o fa-lg"> Invite</i>
								</button>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<h6 class="text-center">
							<a href="">Privacy is important to us. Click here to read why.</a>
						</h6>
					</div>
				</div>
			</div>
		</div>
	
		<div id="contactmodal" class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="ContactModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h2 class="text-center">
						<img src="assets/img/earth.png" class="img-modal"><br>Contact
						us
					</h2>
				</div>
				<div class="modal-body row">
					<h6 class="text-center">Send us a message</h6>
					<form class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
						<div class="form-group">
							<input id="email" type="email" class="form-control input-lg"
								placeholder="donald.trump@usa.net">
						</div>
						<div class="form-group">
							<input id="fullname" type="text" class="form-control input-lg"
								placeholder="Donald Trump">
						</div>
						<div class="form-group">
							<textarea class="form-control" id="exampleTextarea" rows="3"
								placeholder="enter your message here"></textarea>
						</div>
						<div class="form-group">
							<button id="contactbtn" onclick="conatct()"
								class="btn btn-danger btn-lg btn-block">
								<i class="fa fa-send-o fa-lg"> Send Message</i>
							</button>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<h6 class="text-center">
						<a href="">Privacy is important to us. Click here to read why.</a>
					</h6>
				</div>
			</div>
		</div>
	</div>


	
</body>

</html>