<section class="container-fluid" id="section-update-user">
	<div class="container">
		<div class="row">
			<!-- Blog Sidebar Widgets Column -->
			<div class="col-md-3">
				<!-- Blog Categories Well -->
				<div class="well">
					<h4>Favourite Posts</h4>
					<ul ng-repeat = "fav in Favs" class="list-unstyled">
						<li><a href="#{{ fav.link }}">{{ fav.title }}</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 gj-blog-form">
				<div class="row">
					<form>
						<div class="form-group">
							<label for="Name-input" class="col-2 col-form-label">Name</label>
							<div class="col-9">
								<input class="form-control" type="search" ng-value="Name-input">
							</div>
						</div>
						<div class="form-group">
							<label for="email-input" class="col-2 col-form-label">Email</label>
							<div class="col-9">
								<input class="form-control" type="email" ng-value="email-input">
							</div>
						</div>
						<div class="form-group">
							<label for="password-input" class="col-2 col-form-label">Password</label>
							<div class="col-9">
								<input class="form-control" type="password" ng-value="password-input">
							</div>
						</div>
						<div class="form-group">
							<label for="password-input" class="col-2 col-form-label">Confirm Password</label>
							<div class="col-9">
								<input class="form-control" type="password" ng-value="conf-password-input">
							</div>
						</div>
						<div class="form-group">
							<label for="tel-input" class="col-2 col-form-label">Telephone</label>
							<div class="col-9">
								<input class="form-control" type="tel" value="+91-9900112233" ng-value="tel-input">
							</div>
						</div>
	
						<label for="tagSelect"><b>Area Of Interest</b></label> <br>
						<div class="form-check form-check-inline">
							<label class="form-check-label"> <input
								class="form-check-input" type="checkbox" ng-model="inlineCheckbox1"
								value="Science"> Science
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label"> <input
								class="form-check-input" type="checkbox" id="inlineCheckbox2"
								value="Maths"> Maths
							</label>
						</div>
						<div class="form-check form-check-inline ">
							<label class="form-check-label"> <input
								class="form-check-input" type="checkbox" id="inlineCheckbox3"
								value="Social Science"> Social Science
							</label>
						</div>
						<div class="form-check form-check-inline disabled">
							<label class="form-check-label"> <input
								class="form-check-input" type="checkbox" id="inlineCheckbox3"
								value="Arts" disabled> Arts
							</label>
						</div>
						<div class="form-check form-check-inline ">
							<label class="form-check-label"> <input
								class="form-check-input" type="checkbox" id="inlineCheckbox3"
								value="English"> English
							</label>
						</div>
						<button type="submit" class="btn btn-primary" ng-click="updateProfile()">Update</button>
					</form>
	
				</div>
			</div>
			<!-- Blog Sidebar Widgets Column -->
			<div class="col-md-3">
				<div class="well">
					<h3>Messages</h3>
					<ul ng-repeat = "Message in Messages" class="list-unstyled">
						<li><a href="#{{ fav.link }}">{{ Message.title }}</a>{{ Message.date }}</li>
					</ul>
				</div>
	
			</div>
	
		</div>
	</div>
</section>
